.profile__info {
  color: #fff;
  margin: 2rem;

}

.result .profile__info {
  color: #fff;
  max-width: 250px;
}


.link {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.link__git i {
  font-weight: 400;
  font-size: 45px;
  color: #fff;
  text-align: center;
  width: 100%;
  margin-top: 20px;

}

.link__linkedin i {
  font-weight: 400;
  font-size: 45px;
  color: #fff;
  text-align: center;
  width: 100%;
  margin-top: 20px;

}
