.answers-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.questionery--primary--btn {}

.questionery--secondary--btn {}

.result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


}
