.answers-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.questionnary--primary--btn {
  background-color: #A5ABBD;
}

.questionnary--secondary--btn {
  background-color: #A35566;
}

.result--final--summary{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}

.History--results--listOfQuestions {


}
