.answers-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 60%;
  margin: auto;
}


.result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

