.result__congratulation {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


}

h4 {
  color: #e99ab2;


}

.result__congratulation--text {
  margin: 1rem;
  color: #f0f8ff;
  font-style: italic;

}
