.result__congratulation {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

h2 {
  color: #f67f00;

}

.result__congratulation--text {
  margin: 0.7rem;
  color: #f0f8ff;
  font-size: 20px;
  text-align: center;
}
