.mouse {
  margin: 0;
  position: absolute;
  justify-content: center;
  --x: 0;
  --y: 0;
  background-image: url(/pages/Home/img/back.png);
  background-size: 100%;
  width: 100vw;
  height: calc(100vh - 50px);
  background-position: var(--x) var(--y);

}

.container {
  margin: 0 auto;
  top: 250px;
  position: relative;
  z-index: 1;
  text-align: center;
  padding: 10px;
}
