.container__description {
  font-size: 16px;
  color: #fff;
  margin-top: 1em;
  margin-bottom: 1em;
}

.container__description h3 {
  color: #fff;
}

.container__caption {
  font-size: 16px;
  font-weight: 700;

  color: #fff;
}


.container__link-questionnaire {
  display: block;
  text-align: center;
  margin: 0 auto;
  max-width: 215px;
  padding: 10px;
  border-radius: 10px;
  background: linear-gradient(0.25turn, #379bc5, #7581c9, #7e4aaf);
  color: #fff;
  font-weight: bold;
  text-decoration-line: none;
}


@media only screen and (min-width: 768px) {

  .container__description {
    font-size: 18px;

  }

  .container__caption {
    font-weight: 800;
    font-size: 20px;
  }



}
