.position__image {
  border-radius: 50%;
  width: 100%;
  max-width: 200px;
  height: auto;
  display: block;
  margin: auto;
  border: 3px solid rgba(0, 0, 0, 0);
  filter: grayscale(100%);
}

.position__image:hover {
  border: 3px solid #6f6bb3;
  filter: none;
}
