.header {
  display: flex;
  color: #3a0ca3;
  width: 100%;
  height: 50px;
  background: linear-gradient(0.25turn, #379bc5, #7581c9, #7e4aaf);
  font-size: 27px;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 2px 8px 0px #00000054;
  z-index: 1;
}



.header__logo {
  margin-left: 15px;
  font-weight: 750;
  color: #d5e2f2;
  text-decoration: none;

}

.header__logo span {
  color: #f786a8;
  ;
}
