.footer {

  left: 0;
  padding: 15px 0px;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  background: linear-gradient(0.25turn, #1e3e5e, hsl(276deg 86.21% 14.03%));
  box-shadow: 0 2px 8px 0 #00000054;
  /*  background: linear-gradient(0.25turn, #015c81, #000a48, #491777); */
}
