/* CSS */
.question {
  align-items: center;
  background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  padding: 19px 24px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-bottom: 30px;
  margin-top: 30px;
}

.question:active,
.question:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .question {
    background-image: none;
    box-shadow: none;
    color: #fff;
    font-size: 24px;
    min-width: 196px;
  }
}
